{
  "openapi": "3.1.0",
  "info": {
    "title": "Pennylane GPT API (Fake Domain)",
    "version": "1.0.5",
    "description": "Actions liées à l’export du Grand Livre Pennylane – contournement de domaine."
  },
  "servers": [
    {
      "url": "https://fake.pennylane.api"
    }
  ],
  "paths": {
    "/exports/analytical_general_ledgers": {
      "post": {
        "summary": "Créer un export du Grand Livre analytique (mode in_line)",
        "operationId": "createGeneralLedgerExport",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "period_start": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-01-01"
                  },
                  "period_end": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-03-31"
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["in_line"],
                    "default": "in_line"
                  }
                },
                "required": ["period_start", "period_end", "mode"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Export créé avec succès"
          }
        }
      }
    },
    "/exports/{export_id}": {
      "get": {
        "operationId": "getExportStatus",
        "summary": "Vérifie le statut d’un export via son ID",
        "parameters": [
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID numérique de l’export"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Statut de l’export renvoyé"
          },
          "404": {
            "description": "Export introuvable"
          }
        }
      }
    },
    "/memory/delete_previous_export": {
      "post": {
        "summary": "Simule la suppression d’un fichier précédent du Grand Livre",
        "operationId": "deletePreviousLedgerFromMemory",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "example": "Remplacement par un nouvel export"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suppression simulée"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
