{
  "openapi": "3.1.0",
  "info": {
    "title": "Pennylane Export GPT API",
    "version": "1.0.2",
    "description": "API Pennylane pour GPT personnalisé – Export du Grand Livre (création, récupération et nettoyage mémoire)"
  },
  "servers": [
    {
      "url": "https://app.pennylane.com/api/external/v2"
    }
  ],
  "paths": {
    "/exports/analytical_general_ledgers": {
      "post": {
        "summary": "Créer un export du Grand Livre analytique (mode in_line)",
        "operationId": "createGeneralLedgerExport",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "period_start": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-01-01"
                  },
                  "period_end": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-12-31"
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["in_line"],
                    "default": "in_line"
                  }
                },
                "required": ["period_start", "period_end", "mode"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Export créé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "status": { "type": "string" },
                    "created_at": { "type": "string" },
                    "updated_at": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exports/{export_id}": {
      "get": {
        "summary": "Vérifie le statut d’un export de Grand Livre",
        "operationId": "getExportStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "description": "ID de l’export à vérifier",
            "schema": {
              "type": "integer",
              "example": 11353194
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Détails de l’export",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "status": { "type": "string" },
                    "created_at": { "type": "string" },
                    "updated_at": { "type": "string" },
                    "url": {
                      "type": ["string", "null"],
                      "description": "URL de téléchargement si disponible"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/memory/delete_previous_export": {
      "post": {
        "summary": "Simule la suppression d’un ancien fichier du Grand Livre dans la mémoire du GPT",
        "operationId": "deletePreviousLedgerFromKnowledge",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "example": "Remplacement par un nouvel export"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action de nettoyage simulée (aucun effet réel côté API)"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
