{
  "openapi": "3.1.0",
  "info": {
    "title": "Pennylane Export GPT API",
    "version": "1.0.4",
    "description": "API Pennylane pour GPT personnalisé – Export du Grand Livre (création, récupération, nettoyage)."
  },
  "servers": [
    {
      "url": "https://app.pennylane.com/api/external/v2"
    }
  ],
  "paths": {
    "/exports/analytical_general_ledgers": {
      "post": {
        "summary": "Créer un export du Grand Livre analytique (mode in_line)",
        "operationId": "createGeneralLedgerExport",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "period_start": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-01-01"
                  },
                  "period_end": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-12-31"
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["in_line"],
                    "default": "in_line"
                  }
                },
                "required": ["period_start", "period_end", "mode"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Export créé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "status": { "type": "string" },
                    "created_at": { "type": "string" },
                    "updated_at": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exports/{export_id}": {
      "get": {
        "operationId": "getExportStatus",
        "summary": "Vérifie le statut d’un export Pennylane via son ID",
        "parameters": [
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID de l’export à interroger"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse contenant le statut et l'URL de l’export"
          },
          "404": {
            "description": "Export non trouvé"
          }
        }
      }
    },
    "/memory/delete_previous_export": {
      "post": {
        "summary": "Supprime un ancien fichier de Grand Livre de la mémoire (simulation)",
        "operationId": "deletePreviousLedgerFromMemory",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Motif de la suppression",
                    "example": "Remplacement par un nouvel export"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suppression simulée réussie"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
