{
  "openapi": "3.1.0",
  "info": {
    "title": "Pennylane Export API",
    "version": "1.0.1",
    "description": "API pour générer un export du Grand Livre analytique depuis Pennylane (mode forcé : in_line)."
  },
  "servers": [
    {
      "url": "https://app.pennylane.com/api/external/v2"
    }
  ],
  "paths": {
    "/exports/analytical_general_ledgers": {
      "post": {
        "summary": "Créer un export du Grand Livre analytique (mode in_line forcé)",
        "operationId": "createGeneralLedgerExport",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "period_start": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-01-01",
                    "description": "Date de début au format YYYY-MM-DD"
                  },
                  "period_end": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-12-31",
                    "description": "Date de fin au format YYYY-MM-DD"
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["in_line"],
                    "default": "in_line"
                  }
                },
                "required": ["period_start", "period_end", "mode"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Export créé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "status": { "type": "string" },
                    "created_at": { "type": "string" },
                    "updated_at": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
